{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
	<div class="col-lg-6">
	    <form role="form" id="login-form" method="post" action="/login"  class="form-horizontal">
	    	<fieldset>
		        <legend>Login</legend>
		        {% csrf_token %}
		        {% bootstrap_form form %}
		        <div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
					 	<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
		    </fieldset>
	    </form>
	</div>
{% endblock %}
