{% extends 'base.html' %}

{% block content  %}
	<div class="col-lg-12">
		<div class="page-header">
		    <h1>Jobs</h1>
		</div>
		<div class="bs-component">
		    <div class="row">
			    <div class="col-md-8">
			    	{% for job in jobs %}
			    	<div class="job-block">
				    	<h3 class="text-primary">
				    	    {{ job.title }}<br />
				    	</h3>
				    	{{ job.description }} <br />
						<span class="text-warning">
							Last Date: {{ job.last_date }} <br />
						</span>
						<span class="text-muted">
							Recruiter: {{ job.recruiter }} <br />
						</span>
						<hr>
					</div>
					{% endfor %}
					<div class="pagination">
					    <span class="step-links">
					        {% if jobs.has_previous %}
					            <a href="?page={{ jobs.previous_page_number }}">previous</a>
					        {% endif %}
					        <span class="current">
					            Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}.
					        </span>

					        {% if jobs.has_next %}
					            <a href="?page={{ jobs.next_page_number }}">next</a>
					        {% endif %}
					    </span>
					</div>
			    </div>
		    </div>
		</div>
	</div>
{% endblock %}