{% extends 'base.html' %}

{% block content  %}
	<div class="col-lg-12">
		<div class="page-header">
		    <h1>Jobs</h1>
		</div>
		<div class="bs-component">
		    <div class="row">
			    <div class="col-md-8">
			    	<div class="job-block">
				    	<h3 class="text-primary">
				    		IIT/NEET / Foundation course: Chemistry Instructor <br />
				    	</h3>
				    	ConceptOwl- a Bansal Classes Venture - Thiruvananthapuram, Kerala
						You will have the opportunity to shape the future of hundreds of students and also play a key role in what will be the biggest and most audacious initiative in... <br />
						<span class="text-warning">
							Apply securely with Indeed Resume <br />
						</span>
						<span class="text-muted">
							Sponsored - 2 days ago - save job <br />
						</span>
						<hr>
					</div>
			    </div>
		    </div>
		</div>
	</div>
{% endblock %}